h1{  font-size: 420%;
    color: rgb(248, 246, 246);
    text-align: center;
  }
  h2{font-size: 250%;
  color:rgb(240, 231, 231);
text-align: center;}
.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  width: 42vw;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: white;
  padding: 3px 2px
}
.search .search-item{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.search .search-item p {
  color: gray;
  border-right: 1px solide gray;
  font-size: 15px;
  margin-right: 10px;
  padding-left: 10px;
}
.search .search-item input {
  outline: none;
  border: none;
  width: 200%;
  padding-left: 10px;
  font-size: 15px;
}
.search .search-item:first-child{
  width: 30%;
  color: rgb(255, 126, 139);
}
.search .search-item:last-child{
  width: 70%;
  color: gray;
}
  
 
    .bg-img {
        /* The image used */
        background-image: url(bg.jpeg);
      
        min-height: 420px;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
        /* Needed to position the navbar */
        position: relative;
      }
      
      /* Position the navbar container inside the image */
      .container {
        position: absolute;
        
        width: auto;
      }
      
      /* The navbar */
      .topnav {
        overflow: hidden;
        
      }
      
      /* Navbar links */
      .topnav a {
        float: left;
        color: rgb(251, 248, 248);
        text-align: center;
        padding: 12px 16px;
        text-decoration: none;
        font-size: 20px;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      td{
        display: inline-flex;
      }
      
      .section-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
    }
    .section-1 .section-1-item.items-details  {
        position: relative;
        /* width: 300px; */
        width: 15rem;
        margin: 3px 5px;
        overflow: hidden;
        border-radius: 10px;
        background: white;
        border: 1px solid rgb(228, 228, 228);
    }
    .section-1 .section-1-item img {
        width: 100%;
        border: 1px solid rgb(228, 228, 228);
        border-radius: 15px;
        z-index: -1;
    }
    .section-1 .section-1-item {
        position: relative;
        bottom: 5px;
        align-items: center;
        border-radius: 0 0 15px 15px;
        background-color: white;
        width: 100%;
        height: 25%;
        z-index: 2;
    }
    .section-1 .section-1-item .items-details p {
        text-align: center;
        font-size: 1.2rem;
        letter-spacing: 0.7px;    
    }
    .section-1 .section-1-item:hover {
        box-shadow: 0px 1px 2px rgba(207, 207, 207, 0.5);
        transition: all 0.1s;
    }
    
    .section-1 a:hover {
      background-color: #dddddddf;
      color: rgb(182, 123, 41);}